<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style_sql.css" type="text/css" rel="stylesheet">
    <title>Стартовая анкета</title>
</head>
<body>
<form action="/result">
    <div class="main_q">
        <div class="low_q">
        <p><b>Для создания файла с кодом для DB Browser, напишите название файла, а затем напишите необходимый для разбора текст.</b><br></p>
        </div>
        <div class="low_q">
            <div class="text">
                <label><b>Введите название файла: </b><input type="text" name="file_name"> </label><br>
                <p><b>Введите текст: <br></b><textarea rows="10" cols="45" name="text_to_prog"></textarea></p>
                <input type="submit" value="Отправить">
            </div>
        </div>
    </div>
</form>
</body>
</html>